# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET (QC)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-deps:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [ 'TeCLI.Tools', 'TeCLI' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      id: gitv
      uses: gittools/actions/gitversion/execute@v4.2.0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Build ${{matrix.project}}
      run: dotnet build --configuration Release ${{ matrix.project }}/${{ matrix.project }}.csproj

    - name: Pack (if missing nupkg) ${{matrix.project}}
      if: ${{ hashFiles('${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg') != '' }}
      run: dotnet pack --configuration Release ${{ matrix.project }}/${{ matrix.project }}.csproj

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.project }}
        path: ${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg

  build-extensions:
    needs: build-deps

    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - 'TeCLI.Extensions.DependencyInjection'
          - 'TeCLI.Extensions.PureDI'
          - 'TeCLI.Extensions.Jab'
          - 'TeCLI.Extensions.Autofac'
          - 'TeCLI.Extensions.SimpleInjector'
          - 'TeCLI.Extensions.Testing'
          - 'TeCLI.Extensions.Console'
          - 'TeCLI.Extensions.Configuration'
          - 'TeCLI.Extensions.Shell'
          - 'TeCLI.Extensions.Localization'
          - 'TeCLI.Extensions.Output'

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v4.2.0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - uses: actions/download-artifact@v4
      with:
        path: ./.packages
        merge-multiple: true

    - name: Build ${{matrix.project}}
      run: dotnet build --configuration Release extensions/${{ matrix.project }}/${{ matrix.project }}.csproj

    - name: Pack (if missing nupkg) ${{matrix.project}}
      if: ${{ hashFiles('extensions/${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg') != '' }}
      run: dotnet pack --configuration Release extensions/${{ matrix.project }}/${{ matrix.project }}.csproj

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.project }}
        path: extensions/${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg

  build-analyzers:
    needs: build-extensions

    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - 'TeCLI.Extensions.Console.Analyzers'
          - 'TeCLI.Extensions.Configuration.Analyzers'
          - 'TeCLI.Extensions.Shell.Analyzers'
          - 'TeCLI.Extensions.Localization.Analyzers'

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v4.2.0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - uses: actions/download-artifact@v4
      with:
        path: ./.packages
        merge-multiple: true

    - name: Build ${{matrix.project}}
      run: dotnet build --configuration Release extensions/${{ matrix.project }}/${{ matrix.project }}.csproj

    - name: Pack (if missing nupkg) ${{matrix.project}}
      if: ${{ hashFiles('extensions/${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg') != '' }}
      run: dotnet pack --configuration Release extensions/${{ matrix.project }}/${{ matrix.project }}.csproj

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.project }}
        path: extensions/${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg

  test:
    needs: build-analyzers
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v4.2.0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore TeCLI.sln

    - name: Build solution
      run: dotnet build TeCLI.sln --configuration Release --no-restore

    - name: Run tests with coverage
      run: dotnet test TeCLI.sln --configuration Release --no-build -- --report-trx --report-github --coverage --coverage-output-format cobertura

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage/**/coverage.cobertura.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results
        path: ./coverage/test-results.trx