# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET (Upload Release Packages)

on:
  release:
    types: [published]

jobs:
  build-deps:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [ 'TeCLI.Tools', 'TeCLI' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      id: gitv
      uses: gittools/actions/gitversion/execute@v4.2.0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build ${{matrix.project}}
      run: dotnet build --configuration Release **/${{ matrix.project }}.csproj

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.project }}
        path: ${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg

  build-libs:
    needs: build-deps

    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [ 'TeCLI.Extensions.DependencyInjection', 'TeCLI.Generators' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v4.2.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - uses: actions/download-artifact@v6
      with:
        path: ./.packages
        merge-multiple: true

    - name: Build ${{matrix.project}}
      run: dotnet build --configuration Release **/${{ matrix.project }}.csproj

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.project }}
        path: ${{ matrix.project }}/bin/Release/${{ matrix.project }}.${{ env.GitVersion_nuGetVersionV2 }}.nupkg

  test:
    needs: build-libs
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - uses: actions/download-artifact@v6
      with:
        path: ./.packages
        merge-multiple: true

    - name: Restore dependencies
      run: dotnet restore TeCLI.Tests/TeCLI.Tests.csproj

    - name: Run tests with coverage
      run: dotnet test TeCLI.Tests/TeCLI.Tests.csproj --configuration Release --collect:"XPlat Code Coverage" --results-directory ./coverage --logger "trx;LogFileName=test-results.trx" --no-restore

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage/**/coverage.cobertura.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}

  push-nupkg:
    needs: test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v6
        with:
          path: ./.packages
          merge-multiple: true
      - name: Push
        run: dotnet nuget push .packages/*.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{secrets.NUGET_APIKEY}}
